body {
    background-color: #2B2B2B;
}
h1, h2, li, a {
    color: #FFFFFF;
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 40%;
    padding: 4px 7px;
    font-size: 12px;
    display: none;
}

#bell_button {
    position: relative;
}

.btn-like {
    color: #FFF;
    border-style: none;
    border-radius: 8px;
    background-color: #3B3B3B;
    margin: auto;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    transition: background-color 0.1s ease;
}

.btn-like:hover {
    background-color: #4B4B4B;
}

.btn-like:active {
    background-color: #5B5B5B;
}

.left-top-btns {
    display: flex;
    position: absolute;
    top: 12px;
    left: 0;
    flex-direction: row;
}

.right-top-btns {
    display: flex;
    position: absolute;
    top: 12px;
    right: 0;
    flex-direction: row;
}

.left-top-btn {
    margin-left: 8px;
    width: 36px;
    height: 36px;
}

.right-top-btn {
    margin-right: 8px;
    width: 36px;
    height: 36px;
}

.left-top-btn > img, .right-top-btn > img {
    display: block;
    margin: auto;
}

dialog::backdrop {
    backdrop-filter: blur(2px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #959595;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

* {
    scrollbar-gutter: stable both-edges;
}