a {
    text-decoration: none;
}
.filter-box {
    background-color: #3B3B3B;
    padding: 20px;
    border-radius: 8px;
    color: #FFF;
    margin: 8px;
}
.button-container {
    display: flex;
    justify-content: space-between;
}
.apply-button, .clear-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: #FFF;
    transition: background-color 0.3s;
}
.apply-button:hover, .clear-button:hover {
    background-color: #777;
}
.results {
    background-color: #3B3B3B;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.spell {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #1C1C1C;
    border-radius: 6px;
    padding: 5px;
}
.spell-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 10px;
}
.spell-title {
    color: #FFF;
    font-size: 16pt;
    margin: 0;
}
.spell-category {
    color: #AAA;
    font-size: 12pt;
    margin: 2px 0;
}
.spell-creator {
    color: #979797;
    font-size: 11pt;
    margin: 2px 0;
}
.spell-data {
    color: #dcdcdc;
    font-size: 12pt;
}

h2, label, p, option, select, input {
    color: #FFF;
}

option, select {
    background-color: #4B4B4B;
}

.search-bar {
    border-radius: 5px;
    background-color: #4B4B4B;
    border: none;
    font-size: 12pt;
    color: #FFF;
    padding-left: 32px;
    margin: auto;
    margin-top: 10px;
    background-image: url("/assets/search.svg");
    background-position: 3px, 3px;
    background-size: 24px;
    background-repeat: no-repeat;
    display: block;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

select {
    font-size: 11pt;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
}

.tag {
    font-family: monospace;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag-add {
    margin: 8px;
    background-color: rgba(127, 127, 127, 0.3);
    border-color: #7f7f7f;
    color: #FFFFFF;
    cursor: pointer;
}

.tag-add:hover {
    background-color: rgba(127, 127, 127, 0.5);
}

dialog {
    background-color: #2B2B2B;
    border-radius: 10px;
    border-style: none;
}

dialog h1 {
    margin: auto;
    text-align: center;
}

dialog > div > button {
    font-size: 12pt;
    font-weight: bold;
    width: 100px;
    background-color: #4B4B4B;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: #FFF;
}

dialog > div > button:hover {
    background-color: #5B5B5B;
}

dialog > div > button:active {
    background-color: #6B6B6B;
}

.tag-search-entry {
    border-style: none;
    color: #FFF;
    background-color: #3B3B3B;
    margin: auto;
    display: block;
    font-size: 12pt;
    width: 227px;
    padding: 10px;
    cursor: pointer;
}

.tag-search-entry:hover {
    background-color: #4B4B4B;
}

.tag-search-entry:active {
    background-color: #5B5B5B;
}