.spell {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #1C1C1C;
    border-radius: 6px;
    padding: 5px;
    transition: background-color 0.1s;
}
.spell:hover {
    background-color: #2C2C2C;
}
.spell-img {
    width: 128px;
    height: 128px;
    object-fit: contain;
    margin-right: 10px;
}
.spell-title {
    color: #FFF;
    font-size: 16pt;
    margin: 0;
}
.spell-category {
    color: #AAA;
    font-size: 12pt;
    margin: 2px 0;
}
.spell-creator {
    color: #979797;
    font-size: 11pt;
    margin: 2px 0;
}
.spell-data {
    color: #dcdcdc;
    font-size: 12pt;
}

.spell-container {
    position: relative;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-style: none;
}
.spell-container:hover {
    background-color: #3B3B3B;
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.actions a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    background-color: #404040;
    border-radius: 5px;
}
.actions a:hover {
    background-color: #4B4B4B;
}
.actions a:active {
    background-color: #5B5B5B;
}
.search-bar {
    background-color: #3B3B3B;
    border: none;
    font-size: 12pt;
    color: #FFF;
    padding-left: 32px;
    border-radius: 6px;
    margin: auto;
    margin-top: 10px;
    background-image: url("/assets/search.svg");
    background-position: 3px, 3px;
    background-size: 24px;
    background-repeat: no-repeat;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
