
#create_request_dlg {
    border-radius: 10px;
    background-color: #444;
    border-style: none;
    outline: none;
}

#create_request_dlg h1 {
    margin: 0px;
}

#create_request_dlg span, #create_request_dlg p {
    color: #FFF;
    font-size: 15pt;
}

#create_request_dlg input, #create_request_dlg textarea {
    background-color: #333;
    border-style: solid;
    border-radius: 8px;
    outline: none;
    color: #FFF;
    font-size: 12pt;
    padding: 5px;
    border-width: 1px;
}

#create_request_dlg button {
    font-size: 15pt;
    display: block;
    margin: auto;
    margin-top: 5px;
    background-color: #333;
    color: #FFF;
    border-radius: 8px;
    border-style: none;
    padding: 10px;
    cursor: pointer;
}

#create_request_dlg button:hover {
    background-color: #555;
}

#create_request_dlg button:active {
    background-color: #666;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    font-size: 25px;
    width: 250px;
    font-family: monospace;
    border: 1px solid;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    padding: 5px;
    user-select: none;
}

.round-square {
    margin-left: auto;
    width: 20px;
    border-radius: 5px;
    background-color: red;
}