<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% block favicon %}/assets/favicon.ico{% endblock %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <title>{% block Title %}{% endblock %}</title>
</head>
<link rel="stylesheet" href="/assets/base.css">

<!--Messages go here-->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %}{% endif %}{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block Content %}
{% endblock %}
</html>