<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% block favicon %}/assets/favicon.ico{% endblock %}">
    <title>{% block Title %}{% endblock %}</title>
</head>
<link rel="stylesheet" href="/assets/base.css">

<!--Messages go here-->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %}{% endif %}{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block BeforeBody %}
{% endblock %}
<body>
{% block Body %}
{% endblock %}
    <div class="left-top-btns">
        {% if request.resolver_match.url_name != 'home' %}
        <a href="{% url 'spezspellz:home' %} " class="btn-like left-top-btn">
            <img width="32" src="/assets/home.svg"/>
        </a>
        {% endif %}
        <a href="{% url 'spezspellz:upload' %}" class="btn-like left-top-btn">
            <img width="32" src="/assets/upload.svg"/>
        </a>
    </div>
    <div class="right-top-btns">
        {% if request.resolver_match.url_name == 'profile' %}
        <a class="btn-like right-top-btn"><img width="32" src="/assets/bell.svg"/></a>
        <a href="{% url 'spezspellz:usersettings' %}" class="btn-like right-top-btn"><img width="32" src="/assets/cog.svg"/></a>
        <form action="{% url 'logout' %}?next={% url 'spezspellz:home' %}" method="POST">
            {% csrf_token %}
            <input type="image" alt="Logout" name="submit" width="32" class="btn-like right-top-btn" src="/assets/logout.svg"/>
        </form>
        {% else %}
        {% if user.is_authenticated %}
        <a class="btn-like right-top-btn"><img width="32" src="/assets/bell.svg"/></a>
        <a href="{% url 'spezspellz:profile' %}" class="btn-like right-top-btn"><img width="32" src="/assets/profile.svg"/></a>
        {% elif request.resolver_match.url_name != 'login' %}
        <a href="{% url 'login' %}?next={% url 'spezspellz:home' %}" class="btn-like right-top-btn"><img width="32" src="/assets/login.svg"/></a>
        {% endif %}
        {% endif %}
    </div>
</body>
{% block AfterBody %}
{% endblock %}
<script>
    if ("Notification" in window &&Notification.permission !== "granted")
        Notification.requestPermission().then(() => {});
    {% if user.userinfo.timed_notification %}
    let notifications = {};
    window.refetch_noti = () => {
        fetch("{% url 'spezspellz:usersettings' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({
                method: "get_noti",
                time: new Date(Date.now()).toISOString()
            })
        }).then(response => response.json())
            .then(data => notifications = data)
            .catch(() => {});
    };
    window.refetch_noti();
    setInterval(() => {
        const cur_time = new Date(Date.now())
        if(notifications.last_notified == null)
            notifications.last_notified = new Date(0);
        for(const bookmark of notifications.bookmarks) {
            for(const noti of bookmark.notifications) {
                const date = new Date(noti.time);
                switch(noti.every) {
                    case 'D': {
                        const cur_year = cur_time.getFullYear();
                        const cur_month = cur_time.getMonth();
                        const cur_date = cur_time.getDate();
                        const new_date = new Date(date);
                        new_date.setFullYear(cur_year);
                        new_date.setMonth(cur_month);
                        const new_old_date = new Date(new_date);
                        new_date.setDate(cur_date);
                        new_old_date.setDate(cur_date);
                        if(notifications.last_notified <= new_date && new_date <= cur_time ||
                            notifications.last_notified <= new_old_date && new_old_date <= cur_time) {
                            const n = new Notification(bookmark.title, {
                                body: noti.message,
                                icon: bookmark.icon
                            });
                        }
                        break;
                    }
                    case 'W': {
                        const cur_year = cur_time.getFullYear();
                        const cur_month = cur_time.getMonth();
                        const cur_date = cur_time.getDate();
                        const cur_day = cur_time.getDay();
                        const new_date = new Date(date);
                        new_date.setFullYear(cur_year);
                        new_date.setMonth(cur_month);
                        const new_old_date = new Date(new_date);
                        new_date.setDate(cur_date-cur_day+new_date.getDay())
                        new_old_date.setDate(cur_date-cur_day-7+new_date.getDay())
                        if(notifications.last_notified <= new_date && new_date <= cur_time ||
                            notifications.last_notified <= new_old_date && new_old_date <= cur_time) {
                            const n = new Notification(bookmark.title, {
                                body: noti.message,
                                icon: bookmark.icon
                            });
                        }
                        break;
                    }
                    case 'M': {
                        const cur_year = cur_time.getFullYear();
                        const cur_month = cur_time.getMonth();
                        const new_date = new Date(date);
                        new_date.setFullYear(cur_year);
                        const new_old_date = new Date(new_date);
                        new_date.setMonth(cur_month);
                        new_old_date.setMonth(cur_month - 1);
                        if(notifications.last_notified <= new_date && new_date <= cur_time ||
                            notifications.last_notified <= new_old_date && new_old_date <= cur_time) {
                            const n = new Notification(bookmark.title, {
                                body: noti.message,
                                icon: bookmark.icon
                            });
                        }
                        break;
                    }
                    case 'Y': {
                        const cur_year = cur_time.getFullYear();
                        const new_date = new Date(date);
                        new_date.setFullYear(cur_year);
                        const new_old_date = new Date(date);
                        new_old_date.setFullYear(cur_year - 1);
                        if(notifications.last_notified <= new_date && new_date <= cur_time ||
                            notifications.last_notified <= new_old_date && new_old_date <= cur_time) {
                            const n = new Notification(bookmark.title, {
                                body: noti.message,
                                icon: bookmark.icon
                            });
                        }
                        break;
                    }
                    case 'S': {
                        if(notifications.last_notified <= date && date <= cur_time) {
                            const n = new Notification(bookmark.title, {
                                body: noti.message,
                                icon: bookmark.icon
                            });
                        }
                        break;
                    }
                }
            }
        }
        notifications.last_notified = cur_time;
    }, 1000);
    {% endif %}
</script>
</html>