{% extends 'base.html' %}
{% block Title %}Home - SpezSpellz{% endblock %}
{% block BeforeBody %}
<link rel="stylesheet" href="/assets/index.css">
{% endblock %}
{% block Body %}
<h1 class="sp-title">SpezSpellz</h1>
<form method="get" action="{% url 'spezspellz:search_spell' %}" class="search-form">
    <input class="search-bar" name="search_query" placeholder="Cool spells" type="text"/>
    <button type="submit" class="search-button">Search</button>
</form>
<h2 style="padding-left: 20px;">Latest posts</h2>
<div class="strip-box">
    {% for spell in latest_spells %}
    <a href="{% url 'spezspellz:spell' spell.pk %}"><div class="spell">
        <img src="{% url 'spezspellz:spell_thumbnail' spell.pk %}" "{{ spell.pk }}" class="spell-img"/>
        <h2 class="spell-title">{{ spell.title }}</h2>
    </div></a>
    {% endfor %}
</div>
{% endblock %}