{% extends 'base.html' %}
{% block Title %}My Spells{% endblock %}
{% block Body %}
<link rel="stylesheet" href="/assets/myspell.css">
<body>
    <h1 style="margin: auto; text-align: center">All created spell</h1>
    <form method="GET" action="{% url 'spezspellz:filter' %}">
        <input name="s" class="search-bar" placeholder="Search my spell" type="text">
        <input name="creator" value="{{ user.pk }}" hidden/>
        <button type="submit" hidden></button>
    </form>
    <br>
    {% for spell in spells %}
    <div style="display: flex;flex-direction: column;">
    <button onclick="window.location='{% url "spezspellz:spell" spell.pk %}'" my_spell="{{ spell.pk }}" class="spell-container">
        <div class="spell-info">
            <img src="{% url 'spezspellz:spell_thumbnail' spell.id %}"/>
            <span class="spell-title">{{ spell.title }}</span>
        </div>
        <div class="actions">
            <a href="{% url 'spezspellz:edit' spell.pk %}" class="btn-like"><img width="32" src="/assets/edit.svg"/></a>
            <a onclick="window.delete_spell({{ spell.id }})" class="btn-like"><img width="32" src="/assets/delete.svg"/></a>
        </div>
    </button>
    </div>
    {% endfor %}
<script>
    window.delete_spell = (spell) => {
    fetch("{% url 'spezspellz:usersettings' %}", {
          method: "POST",
          headers: {
              "X-CSRFToken": "{{ csrf_token }}"
          },
          body: JSON.stringify({
              method: "delete_spell",
              spell_id: spell
          })
      }).then(res => {
          if(!res.ok)
              return Promise.reject();
          return res.text()
      }).then(text => {
          if(text != "Spell deleted")
            return;
          document.querySelector("[my_spell=\"" + spell + "\"]").remove();
      })
  }
</script>
</body>
{% endblock %}
