{% extends "base.html" %}
{% block Title %}Profile - {{ user.username }}{% endblock %}

{% block BeforeBody %}
<link rel="stylesheet" href="/assets/profile.css">
{% endblock %}
{% block Body %}

<div class="cover-all">
  <div id="aboutMe" class="profile-container">
    <div id="ProfilePic" style="margin: 0 50px 0 0;">
      {% if not other_user %}
      <img class="profile-pic" src="{% url 'spezspellz:avatar' user.pk %}"/>
      {% else %}
      <img class="profile-pic" src="{% url 'spezspellz:avatar' other_user.pk %}"/>
      {% endif %}
    </div>

    <div id="ProfileInfo">
      {% if not other_user %}
      <span class="name"> {{ user.username }} </span>
      <p style="margin-top: 30px;"> {{ user.userinfo.user_desc }} </p>
      {% else %}
      <span class="name"> {{ other_user.username }} </span>
      <p style="margin-top: 30px;"> {{ other_user.userinfo.user_desc }} </p>
      {% endif %}
    </div>

  </div>

  {% if not other_user.userinfo.is_private %}
  <!-- Everything after profile -->

  <div class="spell">
    <div style="display: flex;justify-content: space-evenly;">
      <button id="spell_btn" style="font-size: 28pt;background-color: transparent;border-style: none;color: #FFF;cursor: pointer;" onclick="window.show_tab(false)">Spell</button>
      <button id="bookmark_btn" style="font-size: 28pt;background-color: transparent;border-style: none;color: #777;cursor: pointer;" onclick="window.show_tab(true)">Bookmark</button>
      <button id="history_btn" style="font-size: 28pt;background-color: transparent;border-style: none;color: #777;cursor: pointer;" onclick="window.show_tab(true)">History</button>
    </div>

    <div id="spell_tab">
      <ul>
        {% for spell in spells %}
        <li my_spell="{{ spell.pk }}">
          {% if not other_user %}
          <a href="{% url 'spezspellz:spell' spell.pk %}" class="spell-row">
            <img class="spell-pic" src="{% url 'spezspellz:spell_thumbnail' spell.pk %}">
            <span style="margin-left: 20px;"> {{ spell.title }} </span>
          </a>
          <a href="{% url 'spezspellz:edit' spell.pk %}" class="btn-like edit-btn"><img width="32" src="/assets/edit.svg"/></a>
          <a onclick="window.delete_spell({{spell.pk}})" class="btn-like edit-btn"><img width="32" src="/assets/delete.svg"/></a>
          {% else %}
          <a href="{% url 'spezspellz:spell' spell.pk %}">{{ spell.title }}</a>
          {% endif %}
        </li>
        {% empty %}

        {% if not other_user %}
        <li style="padding-top: 10px;padding-bottom: 10px;"><p style="margin: auto;text-align: center;">You don't have any spells</p></li>
        {% else %}
        <li style="padding-top: 10px;padding-bottom: 10px;"><p style="margin: auto;text-align: center;">{{ other_user.username }} doesn't have any spells</p></li>
        {% endif %}

        {% endfor %}
      </ul>
    </div>
  </div>

  {% else %}
  <div class="centered-container">
    <img src="/assets/lock.svg" style="width:200px; margin: 100px 0 50px 0;">
    <h1>This profile is private</h1>
  </div>

</div>

  {% endif %}
  {% endblock %}