{% extends 'base.html' %}
{% block Title %}Upload - SpezSpellz{% endblock %}
{% block Content %}
<link rel="stylesheet" href="/assets/upload.css">
<body>
    <dialog id="add_tag_dlg" style="height: 400px;width:400px   ">
        <h1 class="section dlgheader">Add Tags</h1>
        <input id="add_tag_dlg_search" class="search-bar" placeholder="Enter tag name" type="text"/>
        <ul id="tag_search_list" style="list-style: none;margin: 0;padding: 0;">
            <li><button class="tag-search-entry">Sacrafice</button></li>
            <li><button class="tag-search-entry">Loan</button></li>
            <li><button class="tag-search-entry">Chinese</button></li>
        </ul>
        <div style="position: absolute;bottom: 15px;left: 0;right: 0;display:flex;flex-direction: row;justify-content: space-evenly;">
            <button id="close_add_tag_dlg">Close</button>
        </div>
    </dialog>
    <dialog id="add_noti_dlg">
        <h1 class="section dlgheader">Add Notification</h1>
        <div style="display: flex;flex-direction: column;">
            <div><span style="font-size: 12pt;">Message: </span><textarea style="font-size: 12pt;" id="noti_dlg_text" type="text"></textarea></div><br>
            <div><span style="font-size: 12pt;">Date and time: </span><input style="font-size: 12pt;" id="noti_dlg_date_time" type="datetime-local"/></div><br>
            <div>
                <span style="font-size: 12pt;">Repetition: </span>
                <select style="width: 150px;font-size: 12pt;" name="noti_every" id="noti_dlg_every">
                    <option value="day">Every Day</option>
                    <option value="week">Every Week</option>
                    <option value="month">Every Month</option>
                    <option value="year">Every Year</option>
                    <option value="single">Single Event</option>
                </select>
            </div><br>
            <span id="noti_dlg_err" style="color: #F00;margin: auto;display: none;">Failed to eat shit.</span>
            <div style="justify-content: space-evenly;">
                <button id="ok_noti_dlg">Ok</button>
                <button id="cancel_noti_dlg">Cancel</button>
            </div>
        </div>
    </dialog>
    <table style="width: 100%;">
        <tr>
            <th style="width: 300px" valign="top">
                <h1 class="section">Settings</h1>
                <ul style="list-style: none;margin: 0;padding: 0;" class="settings-list">
                    <li>
                        <h2 class="section">Thumbnail</h2>
                        <input type="image" width="128" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrQaiqVBiGcaVKeGnRMx0Z7WSm5reolSrZPg&s"/>
                    </li>
                    <li>
                        <h2 class="section">Category</h2>
                        <select name="category" id="category">
                            <option value="spell">Spell</option>
                            <option value="ritual">Ritual</option>
                            <option value="food">Food</option>
                        </select> 
                    </li>
                    <li>
                        <h2 class="section">Tags</h2>
                        <div style="display: inline-block;" id="tag-list">
                            <!-- <div class="tag" style="background-color: rgba(255, 0, 0, 0.3);border-color: #F00;"><span style="color: #F00;">Sacrafice</span></div> -->
                        </div>
                        <button id="add_tag" class="tag tag-add">+</button>
                    </li>
                    <li>
                        <h2 class="section">Notifications</h2>
                        <ul style="list-style: none;margin: 0;padding: 0;" id="noti_list">
                            
                        </ul>
                        <button id="add_noti_btn" class="tag tag-add">+</button>
                    </li>
                </ul>
            </th>
            <th valign="top">
                <h1 class="section">Upload</h1>
                <div style="position: relative;height: auto">
                    <div id="md_preview" class="markdown-input" style="text-align: left;display: none;padding: 10px;overflow: scroll;width: calc(100% - 20px);height: calc(100vh - 150px);"></div>
                    <textarea id="markdown_input" class="markdown-input">
# Spell Name

## Level
*Spell Level*: [Insert Level]

## School
*School of Magic*: [Insert School]

## Casting Time
*Casting Time*: [Insert Casting Time]

## Range
*Range*: [Insert Range]

## Components
*Components*: [Insert Components]

## Duration
*Duration*: [Insert Duration]

## Description
[Insert a detailed description of the spell, including effects, targets, and any special notes.]

## At Higher Levels
[Insert any changes or enhancements when cast at higher levels.]
</textarea>
                    <input type="image" src="/assets/preview.svg" width="32px" id="preview_md"></input>
                    <button class="div-box upload-btn">Upload</button>
                </div>
            </th>
            <th style="width: 300px" valign="top">
                <h1 class="section">Attachments</h1>
                <div id="upload_attachment_box">
                    <ul style="list-style: none;margin: 0;padding: 0;">

                    </ul>
                    <button id="add_attachment_btn" class="tag tag-add">+</button>
                </div>
            </th>
        </tr>
    </table>
    <script type="module">
        import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
        const noti_list = window.noti_list;
        window.add_noti_btn.onclick = () => window.add_noti_dlg.showModal();
        window.ok_noti_dlg.onclick = () => {
            const time = new Date(window.noti_dlg_date_time.value);
            if(isNaN(time)) {
                window.noti_dlg_err.innerText = "Please enter a valid date and time.";
                window.noti_dlg_err.style.display = null;
                return;
            }
            var text = "";
            const every = window.noti_dlg_every.value;
            const time_str = time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
            switch(every) {
                case "day": {
                    text = "\nevery day at " + time_str;
                    break;
                }
                case "week": {
                    text = "\nevery " + ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"][time.getDay()] + " at " + time_str;
                    break;
                }
                case "month": {
                    text = "\nevery " + time.getDate() + " of every month at " + time_str;
                    break;
                }
                case "year": {
                    text = "every " + time.getDate() + "/" + time.getMonth() + " at " + time_str + " every year.";
                    break;
                }
                case "single": {
                    text = "\non " + time.toLocaleString('en-US', { year: 'numeric', month: 'long', hour: 'numeric', minute: 'numeric', hour12: true });
                    break;
                }
                default:
                    break;
            }
            const li = document.createElement("li");
            li.setAttribute("every", every);
            li.setAttribute("time", window.noti_dlg_date_time.value);
            li.setAttribute("msg", window.noti_dlg_text.value);
            const div = document.createElement("div");
            div.style.margin = "5px";
            const span = document.createElement("span");
            span.style.color = "#FFF";
            span.style.margin = "5px";
            span.innerText = "`" + window.noti_dlg_text.value + "`" + text;
            const remove_btn = document.createElement("button");
            remove_btn.classList.add("tag");
            remove_btn.classList.add("tag-add")    
            remove_btn.innerText = "-";
            remove_btn.onclick = () => li.remove();
            div.append(span);
            div.append(remove_btn);
            li.append(div);
            noti_list.append(li);
            window.cancel_noti_dlg.click();
        };
        window.preview_md.onclick = () => {
            if(!window.markdown_input.style.display) {
                window.md_preview.innerHTML = marked.parse(window.markdown_input.value);
                window.md_preview.style.display = "inline-block";
                window.markdown_input.style.display = "none";
                window.preview_md.src = "/assets/edit.svg";
                return;
            }
            window.md_preview.style.display = "none";
            window.markdown_input.style.display = null;
            window.preview_md.src = "/assets/preview.svg";
        };
        window.cancel_noti_dlg.onclick = () => {
            window.noti_dlg_text.value = "";
            window.noti_dlg_err.style.display = "none";
            window.noti_dlg_date_time.value = "";
            window.noti_dlg_every.value = "day";
            window.add_noti_dlg.close();
        };
        window.add_tag.onclick = () => {
            window.add_tag_dlg.showModal();
        };
        window.add_tag_dlg_search.onkeyup = () => {
            const query = window.add_tag_dlg_search.value.toLowerCase();
            for(const entry of window.tag_search_list.children) {
                const btn = entry.querySelector("button");
                entry.style.display = (btn.innerText.toLowerCase().indexOf(query) != -1) ? null : "none";
            }
        };
    </script>
</body>
{% endblock %}